boto3
botocore
django-admin-env-notice
django-admin-honeypot
django-cors-headers
django-ratelimit
django-storages
django-two-factor-auth
Django[argon2]
facebook-sdk
google-auth
graphene-django
jmespath==0.9.3
psycopg2
PyJWT
python-dateutil<2.7
requests
retrying
simplejson
zappa
